<IfModule mod_rewrite.c>
  RewriteEngine On
  # Sesuaikan RewriteBase jika diletakkan di subfolder, misal: RewriteBase /estugadigital/
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
